{% extends "layout.html" %}
{% block content %}
{% for client in allclients %}
<div class="d-flex flex-column bg-white rounded-2 shadow p-2 m-2 border-bottom border-1 border-secondary">
    <div class="d-flex flex-row border-bottom border-1">
        <div class="container w-50">
            <div class="d-flex flex-row">
                <div class="fw-bold text-secondary mx-2">{{ client.pid }}</div>
                <div class="fw-bold text-primary mx-2">{{ client.fnm+" "+client.lnm }}</div>
            </div>
        </div>
        <div class="container w-50">
            <div class="d-flex flex-row-reverse">
                *
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="container w-25 text-secondary">SEX: {{ client.sex }}</div>
        <div class="container w-25 text-secondary">DOB: </div>
        <div class="container w-25 text-secondary">ADR: </div>
        <div class="container w-25 text-secondary">MOB: </div>
    </div>
</div>
{% endfor %}
{% endblock content %}