{% extends "layout.html" %}
{% block content %}

<!-- this section displays client information -->
<a href="/clients/{{ client.pid }}" class="no-link-underline">
    <div class="d-flex flex-column bg-white rounded-2 shadow p-2 mx-4 my-2 border-bottom border-1 border-secondary">
        <div class="d-flex flex-row">
            <div class="container w-50">
                <div class="d-flex flex-row">
                    <div class="text-black mx-2">{{ client.pid }}</div>
                    <div class="mx-2">{{ client.fnm+" "+client.mnm+" "+client.lnm }}</div>
                </div>
            </div>
            <div class="container w-50">
                <div class="d-flex flex-row-reverse">
                    <i class="bi bi-info-circle"></i>
                </div>
            </div>
        </div>
    </div>
</a>

<!-- this section displays number of visits for the client -->
{% for visit in all_visits %}
<div class="d-flex flex-column bg-white rounded-2 shadow p-2 mx-4 my-2 border-bottom border-1 border-secondary">
    <div class="d-flex flex-row border-bottom border-1">
        <div class="container w-50">
            <div class="d-flex flex-row">
                <div>Visit ID: {{ visit.vid }}</div>
            </div>
        </div>
        <div class="container w-50">
            <div class="d-flex flex-row-reverse">
                <form action="{{ url_for('delVisit', pid=client.pid, vid=visit.vid) }}" method="POST" onsubmit="return confirm('This will delete the selected visit.')">
                    <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="container w-50 text-secondary">
            <div>DATE: {{ visit.dov }}-{{ visit.mov }}-{{ visit.yov }}</div>
            <div>AGE: {{ visit.yov - client.dob }}</div>
            <div>CC: {{ visit.cc }}</div>
            <div>DX: {{ visit.dx }}</div>
        </div>
        <div class="container w-50 text-secondary">
            <div>RX1: {{ visit.rx1 }}</div>
            <div>RX2: {{ visit.rx2 }}</div>
            <div>RX3: {{ visit.rx3 }}</div>
            <div>RX4: {{ visit.rx4 }}</div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}