{% extends "layout.html" %}
{% block content %}

{% for client in all_clients %}
<div class="d-flex flex-column bg-white rounded-2 shadow p-2 mx-4 my-2 border-bottom border-1 border-secondary">
    <div class="d-flex flex-row border-bottom border-1">
        <div class="container w-50">
            <div class="d-flex flex-row">
                <div class="fw-bold text-secondary mx-2">{{ client.pid }}</div>
                <div class="fw-bold text-primary mx-2">{{ client.fnm+" "+client.mnm+" "+client.lnm }}</div>
            </div>
        </div>
        <div class="container w-50">
            <div class="d-flex flex-row-reverse">
                <form action="/all-visits" method="POST">
                    <input type="text" name="pid" id="pid" class="form-control-sm d-none" value="{{ client.pid }}">
                    <button type="submit" class="btn btn-sm">Details</button>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="container w-25 text-secondary">SEX: {{ client.sex }}</div>
        <div class="container w-25 text-secondary">DOB: {{ client.dob }}</div>
        <div class="container w-25 text-secondary">ADR: {{ client.adr }}</div>
        <div class="container w-25 text-secondary">MOB: {{ client.mob }}</div>
    </div>
</div>
{% endfor %}
{% endblock content %}