{% extends "layout.html" %}
{% block content %}
{% for client in all_clients %}
<a href="/clients/{{ client.pid }}/visits" class="no-link-underline">
    <div class="d-flex flex-column bg-white rounded-2 shadow p-2 mx-4 my-2 border-bottom border-1 border-secondary">
        <div class="d-flex flex-row">
            <div class="container w-50">
                <div class="d-flex flex-row">
                    <div class="text-black mx-2">{{ client.pid }}</div>
                    <div class="mx-2">{{ client.fnm+" "+client.mnm+" "+client.lnm }}</div>
                </div>
            </div>
            <div class="container w-50">
                <div class="d-flex flex-row-reverse">
                    <i class="bi bi-info-circle"></i>
                </div>
            </div>
        </div>
    </div>
</a>
{% endfor %}
{% endblock content %}