{% extends "layout.html" %}
{% block content %}
<div class="d-flex flex-column bg-white rounded-2 shadow p-2 mx-4 my-2 border-bottom border-1 border-secondary">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column w-50">

            <div class="input-group p-2">
                <label for="pid" class="input-group-text" style="width: 150px;">Client ID</label>
                <input type="text" class="form-control" value="{{ client.pid }}" readonly>
            </div>

            <div class="input-group p-2">
                <label for="fnm" class="input-group-text" style="width: 150px;">First name</label>
                <input type="text" class="form-control" value="{{ client.fnm }}" readonly>
            </div>

            <div class="input-group p-2">
                <label for="mnm" class="input-group-text" style="width: 150px;">Middle name</label>
                <input type="text" class="form-control" value="{{ client.mnm }}" readonly>
            </div>

            <div class="input-group p-2">
                <label for="lnm" class="input-group-text" style="width: 150px;">Last name</label>
                <input type="text" class="form-control" value="{{ client.lnm }}" readonly>
            </div>

        </div>

        <div class="d-flex flex-column w-50">

            <div class="input-group p-2">
                <label for="sex" class="input-group-text" style="width: 150px;">Sex</label>
                <input type="text" class="form-control" value="{{ client.sex }}" readonly>
            </div>

            <div class="input-group p-2">
                <label for="dob" class="input-group-text" style="width: 150px;">Date of birth</label>
                <input type="text" class="form-control" value="{{ client.dob }}" readonly>
            </div>

            <div class="input-group p-2">
                <label for="adr" class="input-group-text" style="width: 150px;">Address</label>
                <input type="text" class="form-control" value="{{ client.adr }}" readonly>
            </div>

            <div class="input-group p-2">
                <label for="tel" class="input-group-text" style="width: 150px;">Phone</label>
                <input type="text" class="form-control" value="{{ client.tel }}" readonly>
            </div>

        </div>
    </div>

    <div class="d-flex flex-row align-items-center justify-content-center p-2">
        <div class="px-2"><a href="{{ url_for('visits_list', pid=client.pid) }}" class="btn btn-outline-primary" style="width: 200px;">List Visits</a></div>
        <div class="px-2"><a href="{{ url_for('visits_add', pid=client.pid) }}" class="btn btn-outline-primary" style="width: 200px;">Add Visits</a></div>
        <div class="px-2">
            <form action="{{ url_for('clients_remove', pid=client.pid) }}" method="POST" onsubmit="return confirm('Do you want to delete client?')">
                <button class="btn btn-outline-danger" style="width: 200px;">Remove Client</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}