{% extends "layout.html" %}
{% block content %}
<div class="d-flex flex-column bg-white rounded-2 shadow p-2 mx-4 my-2 border-bottom border-1 border-secondary">
    <form action="{{ url_for('visits_add', pid=client.pid) }}" method="POST">
        <div class="d-flex flex-row">
            <!-- left side of form -->
            <div class="d-flex flex-column w-50">
                <div class="input-group p-2">
                    <label for="pid" class="input-group-text" style="width: 150px;">PID</label>
                    <input type="text" id="pid" name="pid" class="form-control" value="{{ client.pid }}" readonly>
                </div>
                <div class="input-group p-2">
                    <label class="input-group-text" style="width: 150px;">Date</label>
                    <input type="date" name="dat" id="dat" class="form-control" required>
                </div>
                <div class="input-group p-2">
                    <label for="ccc" class="input-group-text" style="width: 150px;">Complaint</label>
                    <input type="text" id="ccc" name="ccc" class="form-control" required>
                </div>
                <div class="input-group p-2">
                    <label for="dxx" class="input-group-text" style="width: 150px;">Diagnosis</label>
                    <input type="text" id="dxx" name="dxx" class="form-control" required>
                </div>
            </div>
            <!-- right side of form -->
            <div class="d-flex flex-column w-50">
                <div class="input-group p-2">
                    <label for="rx1" class="input-group-text" style="width: 150px;">Rx1</label>
                    <input type="text" id="rx1" name="rx1" class="form-control" required>
                </div>
                <div class="input-group p-2">
                    <label for="rx2" class="input-group-text" style="width: 150px;">Rx2</label>
                    <input type="text" id="rx2" name="rx2" class="form-control">
                </div>
                <div class="input-group p-2">
                    <label for="rx3" class="input-group-text" style="width: 150px;">Rx3</label>
                    <input type="text" id="rx3" name="rx3" class="form-control">
                </div>
                <div class="input-group p-2">
                    <label for="rx4" class="input-group-text" style="width: 150px;">Rx4</label>
                    <input type="text" id="rx4" name="rx4" class="form-control">
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="d-flex flex-row justify-content-center align-items-center p-2">
            <div class="px-2"><a href="{{ url_for('visits_list', pid=client.pid) }}" class="btn btn-outline-primary" style="width: 150px;">Back</a></div>
            <div class="px-2"><button type="submit" class="btn btn-outline-primary" style="width: 150px;">Save</button></div>
        </div>
    </form>
</div>
{% endblock content %}