@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono-normal {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: 13pt;
  font-weight: normal;
  font-style: normal;
}

.left {
    position: fixed;
    left: 0;
    width: 250px;
    top: 0;
    bottom: 0;
    background-color: #03506f;
}

.main {
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
}

* {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}